@charset "utf-8";
/*productInfo*/
#wrap{background-color:#F1F2F2;}
.optionInfo{float:left; width:100%; height:200px; text-align:center; border-bottom:1px solid black; background-color:#FFF;}
.optionInfoArea{display:inline-block; width:84%; margin:15px 0 15px 0; }
.iconOption{float:right; width:180px; margin:38px 0 0 40px;}
.optionText{display:inline-block; float:left; margin:50px 0 0 0}

.gap{float:left; width:100%; height:80px; background-color:#F1F2F2; font-size:50px; border-bottom:1px solid black;}