@charset "utf-8";
/*productInfo*/
.optionInfo{float:left; width:100%; height:200px; text-align:center; border-bottom:1px solid black;}
.optionInfoArea{display:inline-block; width:84%; margin:15px 0 15px 0; }
.iconOption{float:left; width:80px; margin:40px 0 0 0;}
.optionText{display:inline-block; float:left; margin:50px 0 0 50px;}

.borderBar{float:left; width:1px; height:55px; background-color:#fff; margin: 0 0 0 0;}

.logoutY{float:left; background-color:#5184FF; width:48%; color:#fff; text-align:center;}
.logoutYText{display:inline-block;}
.logoutN{float:left; background-color:#5184FF; width:48%; color:#fff; text-align:center;}
.logoutNText{display:inline-block;}