@charset "utf-8";
/*btnWrap*/
.btnWrap{position:relative; float:left; width:100%; height:145px; line-height:145px; background-color:#F1F2F2; border-bottom:1px solid black;}
.columnBtn{float:left; width:49.9%; text-align:center;}
.columnText{display:inline-block; color:#5184FF; font-family: NotoSansCJKkr-Medium; font-size:50px;}

.borderBar{float:left; width:1px; height:55px; background-color:black; margin: 48px 0 0 0;}

.reviewBtn{float:left; width:49.9%; text-align:center;}
.reviewText{display:inline-block; font-family: NotoSansCJKkr-Medium; font-size:50px;}

/*linkWrap*/
.linkWrap{float:left; width:100%; padding:45px 0 45px 0; border-bottom:1px solid black;}
.iconBKmark{position:absolute; right:45px; width:100px;}
.iconAlert{position:absolute; top:170px; right:45px; width:100px;}
.linkBox{display:inline-block; width:250px; height:250px; border:1px solid black; margin:35px 0 35px 0;}
.linkText{font-family: NotoSansCJKkr-DemiLight; color:#939598;}
.productName{font-size:55px;}
.productText{font-family: NotoSansCJKkr-DemiLight; color:#939598;}
.tag{color:#5184FF; margin:40px 0 0 0;}

.ingredientYN{float:left; width:100%; height:150px; text-align:center; line-height:150px;border-top:1px solid black;}
.ingredientYNWrap{display:inline-block; width:84%; height:150px; border-bottom:1px solid black;}
.ingredientYNText{display:inline-block; float:left; margin: 0 0 0 280px; font-family: NotoSansCJKkr-Medium; }
.iconGradeYN{float:left; width:100px; margin: 25px 0 0 50px; }

/*gradeInfo*/
.gradeInfo{float:left; width:100%; text-align:center;}
.gradeArea{display:inline-block; width:84%;padding: 45px 0 45px 0;border-bottom:1px solid black;}
.gradeName{float:left;display:inline-block; color:#5184FF; margin:7px 50px 0 0; }
.gradeImgBox{display:inline-block; float:left;}
.writeReviewBox{position:absolute; width:250px; right:110px;}

/*showReviewBox*/
.showReviewBox{float:left; width:100%;}
.reviewBoxArea{display:inline-block; width:84%; padding:35px 0 35px 0; border-bottom:1px solid black;}
.checkBoxImg{float:left; width:50px;}
.checkBoxText{display:inline-block; float:left;margin:0 0 0 45px;}

/*ingredientInfo*/
.ingredientInfo{float:left; width:100%; text-align:center;}
.ingredientArea{display:inline-block; width:84%;padding: 45px 0 45px 0; border-bottom:1px solid black; }
.ingredientName{display:inline-block; font-size:45px; float:left;color:#5184FF; text-align:left; margin:0 20px 20px 0; font-family: NotoSansCJKkr-Medium;}
.infoArea{display:inline-block; line-height:50px; width:100%; padding:40px 0 0 0;}
.infoAreaT{display:inline-block; line-height:50px; width:100%;}
.iconCare{float:left; width:65px; margin:0 40px 0 0;}
.careName{display:inline-block; font-size:45px; float:left;}
.careCnt{color:red; margin:0 0 0 25px;}
.iconAllergy{float:left; width:65px; margin:0 40px 0 0;}
.allergyName{display:inline-block;font-size:45px;  float:left;}

.ingredientContent{float:left; width:65%; background-color:#fff; cursor:pointer;}
.ingredientContentG{float:left; margin:0 0 0 70px;}

.borderBarT{float:left; width:1px; height:245px; background-color:black; margin: 48px 0 0 0;}

/*barA*/
.barWrapA{float:left;width:90%;height:45px;overflow:hidden;border-radius:15px;}
.barOneA{float:left;width:60%;height:45px; background-color:#5184FF;}
.barTwoA{float:left;width:20%;height:45px; background-color:#FDBE23;}
.barThreeA{float:left;width:10%;height:45px; background-color:#BE1E2D;}
.barFourA{float:left;width:10%;height:45px; background-color:#808285;}


.gap{float:left; width:100%; height:55px; background-color:#F1F2F2;}
.recommandBtn{float:left; width:100%; height:100px; border-top:1px solid black; border-bottom:1px solid black;}
.recommandText{line-height:100px;}


/*productInfo*/
.productInfo{float:left; width:100%; text-align:center; border-top:1px solid black; border-bottom:1px solid black;}
.productInfoArea{display:inline-block; width:84%; margin:15px 0 15px 0; }
.iconProduct{float:left; width:130px; height:130px; margin:0 30px 0 0; border:1px solid black;}
.productInfoText{float:left; text-align:left; margin:10px 0 0 0;}
.productName{}
.productType{}
.reviewGradeImg{float:left;margin:0 5px 0 0}
.reviewGrade{float:left;}
.iconGrade{float:right; width:170px; margin:90px 0 0 0;}

/*rateInfo*/

.rateInfo{float:left; width:100%; text-align:center;}
.rateInfoArea{display:inline-block; width:84%; padding:35px 0 35px 0; border-bottom:1px solid black;}
.iconTextArea{display:inline-block; width:84%;}
.rateText{float:left; display:inline-block; color:#5184FF; margin:0 0 30px 0; font-family: NotoSansCJKkr-Medium;}
.barTextB{display:inline-block; font-size:35px; float:left; margin:0 50px 0 0; font-family: NotoSansCJKkr-DemiLight;}
.barPercentB{display:inline-block; font-size:35px; float:right; margin:0 20px 20px 0;}

/*barB*/
.barAreaB{float:left;width:100%;}
.barWrapB{float:left;width:73%;height:22px;overflow:hidden;border-radius:15px; margin:16px 0 0 0;}
.barOneB{float:left;width:60%;height:22px; background-color:#5184FF;}
.barTwoB{float:left;width:40%;height:22px; background-color:#D1D3D4;}

/*nutrimentInfo*/

.nutrimentInfo{float:left; width:50%; text-align:center;}
.nutrimentInfoArea{display:inline-block; width:100%; padding:35px 0 35px 0; text-align:left; border-bottom:1px solid black;}
.nutrimentText{display:inline-block; font-size:35px; float:left; width:143px; text-align:left;}
.nutrimentPercent{display:inline-block; font-size:35px; float:left; margin:0 0 0 35px;}

/*nutrimentArea*/
.nutrimentArea{float:left;width:100%;}
.nutrimentContent{float:left;width:46%;height:22px;overflow:hidden;border-radius:15px; margin:16px 0 0 0;}
.nutrimentOne{float:left;width:60%;height:29px; background-color:#FDBE23;}
.nutrimentTwo{float:left;width:40%;height:29px; background-color:#D1D3D4;}

/*featureInfo*/

.featureInfo{float:left; width:100%; text-align:center;}
.featureInfoArea{display:inline-block; width:84%; padding:35px 0 35px 0;}
.iconTextArea{display:inline-block; width:84%;}
.featureText{float:left; display:inline-block; color:#5184FF; margin:0 0 30px 0; font-family: NotoSansCJKkr-Medium;}
.barTextC{display:inline-block; font-size:35px; float:left; margin:0 50px 0 0; font-family: NotoSansCJKkr-DemiLight;}
.barPercentC{display:inline-block; font-size:35px; float:right; margin:0 20px 20px 0;}


/*barC*/
.barAreaC{float:left;width:100%;}
.barWrapC{float:left;width:73%;height:22px;overflow:hidden;border-radius:15px; margin:16px 0 0 0;}
.barOneC{float:left;width:60%;height:22px; background-color:#5184FF;}
.barTwoC{float:left;width:40%;height:22px; background-color:#D1D3D4;}

.popUpIn{display:inline-block; text-align:center; width:80%; margin:100px 0 0 0; padding:100px; background-color:#fff;}
