@charset "utf-8";
/*btnWrap*/
.btnWrap{position:relative; float:left; width:100%; height:130px; line-height:130px; border-bottom:1px solid black; }
.selectBtnOne{float:left; width:70%; text-align:center; border-right:1px solid black;}
.selectBtnTwo{float:left; width:30%; text-align:center; }
.btnText{text-align:left; margin:0 0 0 50px; }

.reviewBtn{float:left; width:32.9%; text-align:center;}
.reviewText{displat:inline-block;}

.downBtn{float:right; margin:0 50px 0 0; }
.menuDown{text-align:left;}
.menuSub{background-color:#fff; border:1px solid black; text-align:left;}
.menuSubT{background-color:#fff; border:1px solid black; text-align:left;}

.idTextWrap{float:left; width:100%; height:100px; line-height:100px; background-color:#F1F2F2; border-bottom:1px solid black; }
.idTextArea{display:inline-block; width: 80%;}
.idText{display:inline-block; float:left; font-size:40px;}

/*productInfo*/
.productInfo{float:left; width:100%; text-align:center;border-bottom:1px solid black; background-color:#fff;}
.productInfoArea{display:inline-block; width:84%; margin:23px 0 23px 0; background-color:#fff;}
.iconProduct{float:left; width:160px; height:160px; margin:20px 40px 0 0; border:1px solid black;}
.productInfoText{float:left; text-align:left; margin:10px 0 0 0;}
.productName{font-size:40px; color:#939598;}
.productType{font-size:50px; margin:-12px 0 10px 0;}
.reviewGradeImg{float:left;margin:0 5px 0 0; width:40px;}
.reviewGrade{float:left; font-size:40px; margin:-12px 0 0 15px;}
.iconGrade{float:right; margin: 27px 0 0 0; width:145px;}